<div class="container sticky-top">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-12 card-container">
        <div class="justify-content-center">
          <!-- <div class="header-container"></div> -->
          <mat-horizontal-stepper
            class="stepper-container"
            linear="true"
            #stepper
          >
            <div>
              <form
                [formGroup]="dataForm"
                (ngSubmit)="onFormSubmit()"
                class="form-container"
              >
                <!-- noOfFamily -->
                <mat-step [stepControl]="dataForm.get('noOfFamily')">
                  <div class="image-container">
                    <img src="../../../assets/landing/family.jpg" alt="" />
                  </div>
                  <label class="landing-label-container"
                    >How many family members in your family?</label
                  >
                  <mat-form-field
                    class="field-container"
                    style="width: 60%; margin-top: 0em;"
                  >
                    <input
                      #inputField
                      class="sticky-top"
                      style="font-size: 20px;"
                      (keydown.enter)="goForward(stepper)"
                      matInput
                      formControlName="noOfFamily"
                      placeholder=""
                      NumberOnly
                    />
                    <mat-hint>enter a number</mat-hint>
                    <mat-error
                      *ngIf="
                        dataForm.get('noOfFamily').invalid &&
                        (dataForm.get('noOfFamily').dirty ||
                          dataForm.get('noOfFamily').touched) &&
                        dataForm.get('noOfFamily').errors.required
                      "
                    >
                      this field is required
                    </mat-error>
                    <mat-error
                      *ngIf="
                        dataForm.get('noOfFamily').invalid &&
                        (dataForm.get('noOfFamily').dirty ||
                          dataForm.get('noOfFamily').touched) &&
                        dataForm.get('noOfFamily').errors.numberOnly
                      "
                    >
                      please enter a numeric value
                    </mat-error>
                  </mat-form-field>
                  <div class="button-container">
                    <div class="button-set" style="height: 2em;">
                      <button
                        #nextButton
                        type="button"
                        (click)="goForward(stepper)"
                        class="btn btn-dark btn-sm btn-block"
                      >
                        Next
                      </button>
                    </div>
                  </div>
                </mat-step>

                <!-- youForeign -->
                <mat-step [stepControl]="dataForm.get('foreignContact')">
                  <div class="image-container">
                    <img
                      src="../../../assets/landing/familyAbroad.jpg"
                      alt=""
                    />
                  </div>
                  <div class="field-container">
                    <label class="landing-label-container">
                      You or any of your family member recently travelled
                      overseas ?
                    </label>
                  </div>
                  <div class="button-container">
                    <div class="button-set row">
                      <span
                        *ngFor="let ans of booleanGroups"
                        class="col-md-6 col-sm-6"
                      >
                        <button
                          type="button"
                          (click)="
                            onSelection(
                              ans,
                              stepper,
                              dataForm.get('foreignContact')
                            )
                          "
                          [ngClass]="
                            ans.value == 'Yes'
                              ? 'btn btn-dark btn-sm btn-block active'
                              : 'btn btn-secondary btn-sm btn-block active'
                          "
                        >
                          {{ ans.viewValue }}
                        </button>
                      </span>
                      <button
                        type="button"
                        (click)="goBack(stepper)"
                        class="btn btn-light btn-sm btn-block"
                      >
                        Back
                      </button>
                    </div>
                  </div>
                </mat-step>

                <!-- closContact -->
                <mat-step [stepControl]="dataForm.get('closeContact')">
                  <div class="image-container">
                    <img src="../../../assets/landing/maleAbroad.jpg" alt="" />
                  </div>
                  <div class="field-container">
                    <label class="landing-label-container">
                      Have you had any close contact with COVID 19 patient?
                    </label>
                  </div>
                  <div class="button-container">
                    <div class="button-set row">
                      <span
                        *ngFor="let ans of booleanGroups"
                        class="col-md-6 col-sm-6"
                      >
                        <button
                          type="submit"
                          (click)="
                            [
                              onSelection(
                                ans,
                                stepper,
                                dataForm.get('closeContact')
                              ),
                              onFormSubmit()
                            ]
                          "
                          [ngClass]="
                            ans.value == 'Yes'
                              ? 'btn btn-dark btn-sm btn-block active'
                              : 'btn btn-secondary btn-sm btn-block active'
                          "
                        >
                          {{ ans.viewValue }}
                        </button>
                      </span>
                      <button
                        type="button"
                        (click)="goBack(stepper)"
                        class="btn btn-light btn-sm btn-block"
                      >
                        Back
                      </button>
                    </div>
                  </div>
                </mat-step>
              </form>
            </div>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</div>
