@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.button {
  margin-left: 0.5px;
  margin-right: 0.5px;
  width: 20%;
  height: 25px;
  background-color: darkcyan;
  color: black;
  font-size: 15px;
  text-align: center;
}

.example-radio-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example-radio-button {
  padding-top: 2%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.form-container {
  text-align: center;
  /* width: 40%; */
  /* height: 50em; */
}

.card-container {
  /* top: 3vh; */
  padding: 1%;
  /* box-shadow: 0px 0px 5px 0px #000; */
  text-align: center;
  padding-bottom: 1vmin;
  font-size: 3.45vmin;
  /* width: 45%; */
  height: 40rem;
}

.field-container {
  padding-top: 2%;
  padding-bottom: 4%;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.image-container img {
  justify-content: center;
  height: 14rem;
  width: 17rem;
  margin-bottom: 0.3rem;
}

.header-container {
  margin-top: 5%;
}

.button-set {
  width: 15rem;
  
}

.button-set button {
  margin-bottom: 1rem;
}

.landing-label-container {
  font-size: 5vmin;
  line-height: 1.3em;
  width: 100%;
  /* margin-bottom:0.7em; */
  /* margin-top: 0.7em; */
}

