.button {
  margin-left: 0.5px;
  margin-right: 0.5px;
  width: 20%;
  height: 25px;
  background-color: darkcyan;
  color: black;
  font-size: 15px;
  text-align: center;
}

.example-radio-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example-radio-button {
  padding-top: 2%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.form-container {
  text-align: center;
  width: 40%;
  height: 50em;
}

.card-container {
  top: 5vh;
  padding: 1%;
  box-shadow: 0px 0px 5px 0px #000;
  text-align: center;
  padding-bottom: 1vmin;
  font-size: 3.45vmin;
  width: 45%;
  height: 36em;
}

.field-container {
  padding-top: 2%;
  padding-bottom: 4%;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.image-container img {
  justify-content: center;
  height: 12rem;
  width: 16rem;
}

.header-container {
  margin-top: 10%;
}

.button-set {
  width: 15em;
  /* height: 9em; */
}

.button-set button {
  margin-bottom: 1em;
}

.landing-label-container {
  font-size: 3.67vmin;
  line-height: 1.3em;
}

.stepper-container{
  height: 10em;
}

.main-page {
  background-image: url('../../../assets/covid-min.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}