<div class="container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <mat-card class="col-12 col-md-6 col-sm-6 card-container">
                <div class="justify-content-center">
                    <div class="header-container">
                    </div>
                    <mat-horizontal-stepper linear='true' #stepper>
                        <mat-card-content>
                            <form [formGroup]="dataForm" (ngSubmit)="onFormSubmit()" class="form-container">

                                <!-- noOfFamily -->
                                <mat-step [stepControl]="dataForm.get('noOfFamily')">
                                    <div class="image-container">
                                        <img src="../../../assets/landing/family.jpg" alt="">
                                    </div>
                                    <mat-form-field class="field-container" style="width:60%">
                                        <label> {{ 'FAMILY-CARD.QUESTION' | translate }}</label>
                                        <input matInput formControlName="noOfFamily" placeholder="" NumberOnly>
                                        <mat-hint>{{ 'FAMILY-CARD.HINT' | translate }}</mat-hint>
                                        <mat-error
                                            *ngIf="dataForm.get('noOfFamily').invalid && (dataForm.get('noOfFamily').dirty || dataForm.get('noOfFamily').touched)  && (dataForm.get('noOfFamily').errors.required)">
                                            {{ 'FAMILY-CARD.ERROR' | translate }}
                                        </mat-error>
                                        <mat-error
                                            *ngIf="dataForm.get('noOfFamily').invalid && (dataForm.get('noOfFamily').dirty || dataForm.get('noOfFamily').touched)  && (dataForm.get('noOfFamily').errors.numberOnly)">
                                            {{ 'FAMILY-CARD.TYPE-ERROR' | translate }}
                                        </mat-error>

                                        <!-- <mat-error>This field is required</mat-error> -->
                                    </mat-form-field>
                                    <mat-card-actions class="button-container">

                                        <div class='button-set' style="height: 2em;">
                                            <button type="button" (click)="goForward(stepper)"
                                                class="btn btn-dark btn-sm btn-block">{{ 'FAMILY-CARD.NEXT' | translate }}</button>
                                        </div>





                                    </mat-card-actions>
                                </mat-step>

                                <!-- youForeign -->
                                <mat-step [stepControl]="dataForm.get('foreignContact')">
                                    <div class="image-container">
                                        <img src="../../../assets/landing/familyAbroad.jpg" alt="">
                                    </div>
                                    <div class="field-container">
                                        <label>{{ 'OVERSEAS-CARD.QUESTION' | translate }}</label>
                                        <!-- <mat-radio-group  aria-labelledby="example-radio-group-label"
                                            class="example-radio-group" formControlName="foreignContact">
                                            <mat-radio-button class="example-radio-button" *ngFor="let ans of booleanGroups"
                                                [value]="ans.value">
                                                {{ans.viewValue}}
                                            </mat-radio-button>
                                        </mat-radio-group> -->
                                    </div>
                                    <mat-card-actions class="button-container">



                                        <div class='button-set'>

                                            <span *ngFor="let ans of booleanGroups">
                                                <button type="button"
                                                    (click)="onSelection(ans, stepper, dataForm.get('foreignContact'))"
                                                    [ngClass]="ans.value=='Yes' ? 'btn btn-dark btn-sm btn-block active' : 'btn btn-secondary btn-sm btn-block active'">
                                                    {{ans.viewValue}}
                                                </button>
                                            </span>
                                            <button type="button" (click)="goBack(stepper)"
                                                class="btn btn-light btn-sm btn-block">{{ 'OVERSEAS-CARD.BACK' | translate }}</button>
                                        </div>








                                    </mat-card-actions>
                                </mat-step>

                                <!-- closContact -->
                                <mat-step [stepControl]="dataForm.get('closeContact')">
                                    <div class="image-container">
                                        <img src="../../../assets/landing/maleAbroad.jpg" alt="">
                                    </div>
                                    <div class="field-container">
                                        <label>{{ 'CLOSE-CONTACT-CARD.QUESTION' | translate }}</label>

                                    </div>
                                    <mat-card-actions class="button-container">

                                        <div class='button-set'>

                                            <span *ngFor="let ans of booleanGroups">
                                                <button type="submit"
                                                    (click)="[onSelection(ans, stepper, dataForm.get('closeContact')), onFormSubmit()] "
                                                    [ngClass]="ans.value=='Yes' ? 'btn btn-dark btn-sm btn-block active' : 'btn btn-secondary btn-sm btn-block active'">
                                                    {{ans.viewValue}}
                                                </button>
                                            </span>
                                            <button type="button" (click)="goBack(stepper)"
                                                class="btn btn-light btn-sm btn-block">{{ 'CLOSE-CONTACT-CARD.BACK' | translate }}</button>
                                        </div>
                                    </mat-card-actions>
                                </mat-step>
                            </form>
                        </mat-card-content>
                    </mat-horizontal-stepper>
                </div>
            </mat-card>
        </div>
    </div>
</div>