<div class="stepper-container">

  <!-- stepper -->
  <mat-horizontal-stepper linear="true" #stepper>

    <!-- step -->
    <!-- dynamically generate all the bucket steps -->
    <mat-step *ngFor="let item of members; let i = index">

      <!-- bucket component -->
      <!-- passing values to the child from the parent -->
      <app-bucket [indexBucket]="i" [noOfBuckets]="this.noOfBuckets" [bucketStates]="this.bucketStates"
        [carouselStates]="this.carouselStates" #cmp>
      </app-bucket>

    </mat-step>

  </mat-horizontal-stepper>

  <div class="fixed-bottom">

    <!-- progress bar -->
    <mat-progress-bar color="primary" mode="'determinate'" [value]="progressValue"></mat-progress-bar>

    <!-- next/previous bucket of the stepper] -->
    <div class="bg-light">
      <div class="container d-flex justify-content-around p-2">
        <button mat-button (click)="goBack(stepper)" [disabled]='indexBucket===0'>Back</button>
        <button class="bucket-name" mat-button (click)="openDialog()">
          Bucket {{ indexBucket + 1 }} of {{ noOfBuckets }}
        </button>
        
       
        <button *ngIf="indexBucket + 1 !== noOfBuckets" mat-button (click)="goForward(stepper)" [ngClass]="{'disabledButton' : !isBucketFull()}" >
          Next
        </button>
        <button *ngIf="indexBucket + 1 === noOfBuckets" mat-button (click)="onDone()" [ngClass]="{'disabledButton' : !isBucketFull()}">
          Done
        </button>
      </div>
    </div>

  </div>

  
</div>