<mat-toolbar>
    <mat-toolbar-row class="toolbar">
        <p></p>

        <a class="left">
            <img class="mr-1" src="../../../favicon.ico" width="10%" alt="">
            {{ 'HOME.TITLE' | translate }}</a>

        <div class="right">
            <button aria-haspopup="true" mat-button [matMenuTriggerFor]="menu" mattooltip="Select a language">
                <div class="mat-button-focus-overlay"></div>
                <span class="mat-button-wrapper"> {{ currentLan }}
                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color">arrow_drop_down</mat-icon>
                </span>
                <div matripple="" class="mat-ripple mat-button-ripple"></div>
            </button>
            <mat-menu #menu="matMenu">
                <span (mouseleave)="closeMyMenu()">
                <button mat-menu-item (click)="toggleLanguage('si')">සිංහල</button>
                <button mat-menu-item (click)="toggleLanguage('en')">English</button>
                <button mat-menu-item (click)="toggleLanguage('ta')">தமிழ்</button>
                </span>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

