.slide-item {
  margin: 2%;
  width: 25%;
  height: 2em;
  min-width: 150px;
  background: red;
  cursor: move;
}

.carousel-container {
  width: 100%;
  padding-left: 8%;
  background-color: blue;
}

.cdkPlaceholder {
  margin: 2%;
  width: 25%;
  height: 2em;
  min-width: 150px;
  background: #ccc;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.example-margin {
  margin: 0 10px;
}

/* .bucket-header{
  display: flex;
 
} */
