.bucket-container {
  flex-direction: column;
  height: 20vh;
  padding-left: 10%;
  padding-right: 10%;
  background: #ccc;
  border-radius: 5px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  position: absolute;
  top: 5%;
  filter: invert(1);
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.slide-name {
  font-size: 4.5vmin;
  position: absolute;
  top: 2%;
}

.carousel-item {
  flex-direction: column;
}

.cdkPlaceholder {
  background-color: none;
}

.slide-item {
  font-size: 2.5vmin;
  background-color: burlywood;
  text-align: center;
  cursor: move;
  /* width: 20vw; */
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  width: 14em;
  border-radius: 1em;
  padding: 0.3em;
  font-size: 1em;
}
